<template name="shanghi">
  <div id="scoreCard" class="well">
  		<table class="table">
  			<thead>
  			<tr> 
  				<td>History:</td>
  				<td>0</td>
  				<td>0</td>
  				<td>0</td>
  				<td>0</td>
  			</tr>
  			<tr>
				
  			</tr>
  			<tr>
  				<td>Total:</td>
  				<td><input class="form-control input-sm" id="inputsm" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td></td>
  				<td>one</td>
  				<td>two</td>
  				<td>three</td>
  				<td>four</td>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
  				<td>6:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>7:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>8:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>9:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>10:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>11:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  			<tr>
  				<td>12:</td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  				<td><input class="input-small" type="text" value="0" /></td>
  			</tr>
  		</tbody>
  		</table>
	</div>
</template>