<template name="tables">
	<div id="scoreCard">
        <button type="button" class="btn btn-sm btn-link addRow" id="addRow">Add Row</button>
        <button type="button" class="btn btn-sm btn-link" id="saveGame">Save Score</button>
        <button type="button" class="btn btn-sm btn-link" id="playAgain">Play Again</button>
		<form id="scorecard">
			{{table}}
		</form>
        <button type="button" class="btn btn-sm btn-link addRow" id="addRow">Add Row</button>
        <button type="button" class="btn btn-sm btn-link removeRow" id="addRow">Delete Last Row</button>
	</div>
</template>
